.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #3B3B3B;
  margin-left: auto;
  height: 50px;
  width: 50px;
  padding: 0;

  &:focus {
    background-color: #3b3b3b;
    border: 1px solid #fff;
  }
}