.layout {
  padding: 0 40px !important;
}

.title {
  font-size: 36px;
  color: #fff;
  padding-top: 90px;
  font-weight: bold;
  margin-bottom: 50px;
}

.desc {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'PT Mono';
}