.title, .content {
  margin-bottom: 20px;
  background-color: transparent;
  color: #fff;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 24px;
  line-height: 31px;
  padding: 0;
}
.title {
  margin-top: 40px;
  margin-bottom: 30px;
}